<!DOCTYPE html>
<html>
<head>
    <title>Coffee Shop</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
</head>
<body>

<header>
    <h2>
        <a href="{% url 'home' %}">☕ Coffee Shop</a>
    </h2>

    <nav>
        <nav>
    <a href="/">All</a>
    <a href="/category/hot-coffee/">Hot Coffee</a>
    <a href="/category/cold-coffee/">Cold Coffee</a>
    <a href="/category/desserts/">Desserts</a>
</nav>
    </nav>

    <div>
        {% if user.is_authenticated %}
            <span>Welcome, {{ user.username }}</span>

            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
</header>

<hr>

{% block content %}
{% endblock %}

</body>
</html>